server {
  listen 0.0.0.0:8409;

  access_log off;

  location = /healthz { return 200 "ok\n"; }
  location = /livez   { return 200 "ok\n"; }
  location = /readyz { return 200 "ready\n"; }

  location @notready {
    return 503 "not-ready\n";
  }
}
